h1 h2 h3 h4 .cn {
    font-family: "Microsoft YaHei","Tahoma","SimHei";
}

img.big {
    width: 90%;
    max-width: 530px;
}

.bingfu {
    background-image:url('img/bingfu.png');
    width: 90%;
    max-width: 504px;
}

