@font-face
{
    font-family: "HD HPMST";
    src: url("/fonts/HD-HPMST.ttf");
}

.handwriting
{
    font-family: "HD HPMST", "Microsoft YaHei","Tahoma","SimHei";
}

.cn {
    font-family: "Microsoft YaHei","Tahoma","SimHei";
}

img.big {
    width: 90%;
    max-width: 530px;
}

.bingfu {
    width: 90%;
    max-width: 504px;
}

